In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('comments.csv');df

                                                   event
0      il souhaite faire une loa sur une duree de 24 ...
1      il souhaite financer le vehicule au comptant o...
2      elle est a l'ecoute des offres en loa avec un ...
3      elle ne sait pas par quelle mode de financemen...
4              il souhaite un credit pour professionnel.
...                                                  ...
14054         il souhaite un credit aupres de sa banque.
14055   elle fait un credit partiel aupres de sa banque.
14056    il est a l'ecoute des offres de credit partiel.
14057  il souhaite une offre pour un credit a titre c...
14058                             il souhaite un credit.

[14059 rows x 1 columns]

# Etape 1: 
Analyse exploratoire

In [26]:
# describe
df.describe()

                         event
count                    14059
unique                    4711
top     il souhaite un credit.
freq                       375

In [27]:
df_unique = df.value_counts()

In [28]:
# nombre de mots
# df["nmb_words"] = df["event"].str.split(' ').str.len()
df["nmb_words"] = df["event"].apply(lambda x: len(str(x).split(' ')))

In [29]:
# nombre de charactères
df["nmb_char"] = df["event"].apply(lambda x: len(str(x)))

In [30]:
# Nombre de phrases
df["nmb_sentences"] =df["event"].apply(lambda x: len(str(x).split('.')))

In [31]:
df

,event,nmb_words,nmb_char,nmb_sentences
0,il souhaite faire une loa sur une duree de 24 ...,11,50,1
1,il souhaite financer le vehicule au comptant o...,12,68,2
2,elle est a l'ecoute des offres en loa avec un ...,13,65,3
3,elle ne sait pas par quelle mode de financemen...,10,54,2
4,il souhaite un credit pour professionnel.,6,41,2
...,...,...,...,...
14054,il souhaite un credit aupres de sa banque.,8,42,2
14055,elle fait un credit partiel aupres de sa banque.,9,48,2
14056,il est a l'ecoute des offres de credit partiel.,9,47,2
14057,il souhaite une offre pour un credit a titre c...,10,56,2
14058,il souhaite un credit.,4,22,2

In [32]:
df_avg_words = df["nmb_words"].mean(); df_avg_words

7.852763354434882

In [33]:
df_avg_sentences = df["nmb_sentences"].mean(); df_avg_sentences

2.0767479906109965

In [34]:
df_avg_char = df["nmb_char"].mean(); df_avg_char

44.471584038694076

In [40]:
# nombre moyen de char par phrase pour chaque ligne
df["avg_char_sentences"] = df["event"].apply(lambda x: len(str(x).split('.')))
df["avg_char_sentences"] = df["nmb_char"] / df["nmb_sentences"]

In [42]:
# nombre moyen de mot par phrase pour chaque ligne
df["avg_words_sentences"] = df["event"].apply(lambda x: len(str(x).split('.')))
df["avg_words_sentences"] = df["nmb_words"] / df["nmb_sentences"]

In [47]:
df

,event,nmb_words,nmb_char,nmb_sentences,avg_char_sentences,avg_words_sentences
0,il souhaite faire une loa sur une duree de 24 ...,11,50,1,50.000000,11.000000
1,il souhaite financer le vehicule au comptant o...,12,68,2,34.000000,6.000000
2,elle est a l'ecoute des offres en loa avec un ...,13,65,3,21.666667,4.333333
3,elle ne sait pas par quelle mode de financemen...,10,54,2,27.000000,5.000000
4,il souhaite un credit pour professionnel.,6,41,2,20.500000,3.000000
...,...,...,...,...,...,...
14054,il souhaite un credit aupres de sa banque.,8,42,2,21.000000,4.000000
14055,elle fait un credit partiel aupres de sa banque.,9,48,2,24.000000,4.500000
14056,il est a l'ecoute des offres de credit partiel.,9,47,2,23.500000,4.500000
14057,il souhaite une offre pour un credit a titre c...,10,56,2,28.000000,5.000000
14058,il souhaite un credit.,4,22,2,11.000000,2.000000