In [1]:
import csv
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_csv('number_of_travelers.csv')


data.columns

Index(['month', 'passengers'], dtype='object')

In [3]:
data

          month  passengers
0    2000-01-01       46492
1    2000-02-01       48526
2    2000-03-01       58764
3    2000-04-01       56033
4    2000-05-01       58201
..          ...         ...
235  2019-08-01       83784
236  2019-09-01       72590
237  2019-10-01       78617
238  2019-11-01       73074
239  2019-12-01       79302

[240 rows x 2 columns]